* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 8vh;
}

#map {
    height: 500px;
    width: 500px;
}

main {
    display: flex;
    flex-direction: row;
}

.map-container {
    background-color: aquamarine;
}

aside {
    width: 28%;
    padding: 12px;
}

.app-options {
    height: 100%;
    background-color: aqua;
}